<html id="bgColor">
<nav class="navbar navbar-expand-lg navbar-dark bg-light" id="navbarMenu">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" id="beerMe">Beer Me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
      </ul>
      <form class="d-flex">
        <a class="nav-link" href="/list" id="navLinks">Beer List</a>
        <a class="nav-link" href="/members" id="navLinks">Profile</a>
        <a class="nav-link" href="/" id="navLinks">Log Out</a>
      </form>
    </div>
  </div>
</nav>

<div class="container" id="bgColor">

  <div class="row">

    <div class="col-10">
      <h1 id="welcomeHeader">Welcome, {{name}}</h1>
      <div id="welcomeSection">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quia magnam rem libero odio, architecto
          blanditiis vel excepturi labore neque at iusto voluptas cumque enim! Pariatur ut possimus quaerat ad.
        </p>
      </div>

      <div id="beerSelector">
        <h5>Find a beer!</h5>
        <form action="/filterlist">

          <h6 id="selectText">Select an ABV% range:</h6>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Low</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Medium</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">High</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
            <label class="form-check-label" for="inlineRadio4">Very High</label>
          </div>

          <h6 id="selectText">Select a flavor:</h6>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Ale</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Berliner Weisse</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Gose</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
            <label class="form-check-label" for="inlineRadio4">IPA</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
            <label class="form-check-label" for="inlineRadio5">Porter</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
            <label class="form-check-label" for="inlineRadio6">Stout</label>
          </div>
          <div>
            <button type="submit" class="btn btn-light" id="submitButton">Submit</button>
          </div>
        </form>
      </div>

    </div>

    <div class="col-2">

      <div class="card" style="width: 323px;" id="featuredBeer">
        <img src="./assets/beer-img/10w-40.png" class="card-img-top" alt="Featured Beer" id="featuredBeerIMG">
        <div class="card-body" id="featuredBeerBody">
          <h5 class="card-title">Featured Beer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-light" id="featuredButton">Learn More</a>
        </div>
      </div>

      <div class="card" style="width: 323px;" id="randomBeer">
        <img src="{{image}}" class="card-img-top" alt="Random Beer" id="randomBeerIMG">
        <div class="card-body" id="randomBeerBody">
          <h5 class="card-title">Random Beer</h5>
          <h5>{{name}}</h5>
          <h4>{{brewery}}</h4>
          <h4>{{flavor}}</h4>
          <h4>{{abv}}</h4>
          <a href="#" class="btn btn-light" id="randomButton">Learn More</a>
        </div>
      </div>

    </div>

  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/beer.js"></script>

</html>