<li>
    <div class="card" style="width: 320px;" id="randomBeer">
        <img src="{{image}}" class="card-img-top" alt="Random Beer" id="randomBeerIMG">
        <div class="card-body" id="randomBeerBody">
            <h5 class="card-title">{{beer_name}}</h5>
            <h4>{{brewery}}</h4>
            <h4>{{flavor}}</h4>
            <h4>{{abv}}</h4>
            {{!-- <a href="#" class="btn btn-primary" id="randomButton">Learn More</a> --}}
        </div>
    </div>
</li>