<div class="card listOfBeers" style="width: 325px;" id="beerList">
    <img src="{{image}}" class="card-img-top" alt="Beer" id="beerListIMG">
    <div class="card-body" id="beerListBody">
        <hr class="solid">
        Name: <p id="listOther">{{name}}</p>
        Brewery: <p id="listOther">{{brewery}}</p>
        Flavor: <p id="listOther">{{flavor}}</p>
        ABV%: <p id="listOther">{{abv}}</p>
        {{!-- <a href="#" class="btn btn-primary" id="randomButton">Learn More</a> --}}
    </div>
</div>